@charset "UTF-8";
/*---------------- TIPOGRAFÍAS --------------------*/
@font-face {
  font-family: "Formula1-Wide";
  src: url("../Recursos/fuente/Formula1-Wide.ttf") format("truetype");
}
@font-face {
  font-family: "Formula1-Bold";
  src: url("../Recursos/fuente/Formula1-Bold-4.ttf") format("truetype");
}
@font-face {
  font-family: "Formula1-Italic";
  src: url("../Recursos/fuente/Formula1-Italic.ttf") format("truetype");
}
@font-face {
  font-family: "Formula1-Regular";
  src: url("../Recursos/fuente/Formula1-Regular-1.ttf") format("truetype");
}
@font-face {
  font-family: "Formula1-Black";
  src: url("../Recursos/fuente/Formula1-Black.ttf") format("truetype");
}
/*---------------- CONTENIDO PAGINA --------------------*/
/*---------------- TABLA PILOTOS --------------------*/
/*---------------- DATOS TUS PILOTOS --------------------*/
/*---------------- FOTO PILOTO --------------------*/
/*---------------- DIV PILOTOS --------------------*/
/*---------------- BOTONES --------------------*/
section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#pilotosDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3em;
  border-collapse: initial;
  border-radius: 0 3em 3em 0;
  border-right: 4px solid var(--rojoAcento);
  border-top: 4px solid var(--rojoAcento);
  border-bottom: 4px solid var(--rojoAcento);
  background-color: var(--negroFondo);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  padding: 3em;
  width: 70%;
}

.nombrePiloto {
  position: relative;
  font-size: 1.2em;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
  order: 2;
}

.bandera {
  position: relative;
  width: 1.5em;
  height: auto;
  border-radius: 999em;
  text-align: center;
  display: block;
  margin: auto;
  order: 3;
}

.rolPiloto {
  position: relative;
  font-size: 0.8em;
  color: #999;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 20px;
  order: 4;
}

.fotoPiloto {
  border-radius: 999em;
  -o-object-fit: cover;
     object-fit: cover;
  width: 150px;
  height: 150px;
  border: 5px solid var(--negroAcento);
  margin: 30px;
  margin-bottom: 10px;
  order: 1;
  transition: 0.2s;
}

.divPiloto {
  background-color: rgba(23, 23, 31, 0.6274509804);
  border: 4px solid var(--negroAcento);
  border-radius: 2em;
  color: #FFFFFF;
  position: relative;
  width: 30%;
  font-family: "Formula1-Italic";
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: 0.2s;
}
.divPiloto:hover {
  cursor: pointer;
  border-color: var(--rojoAcento);
}
.divPiloto:hover .fotoPiloto {
  border-color: var(--rojoAcento);
}

button {
  border: 3px solid var(--negroAcento);
  color: #d3d3d3;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  height: calc(100% + 2em);
  width: auto;
  background-color: rgba(8, 8, 10, 0.2);
  cursor: pointer;
  font-family: "Formula1-Italic";
  border-radius: 999em;
  margin: 1em;
  transition: 0.2s ease-in;
}
button:disabled {
  color: grey;
  pointer-events: none;
}
button:focus {
  border: 3px solid var(--negroAcento);
  color: #d3d3d3;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  height: calc(100% + 2em);
  width: auto;
  background-color: rgba(8, 8, 10, 0.2);
  cursor: pointer;
  font-family: "Formula1-Italic";
  border-radius: 999em;
  margin: 1em;
  transition: 0.2s ease-in;
}
button:hover {
  background-color: #287223;
  color: #ffffff;
  border-color: #4bcb42;
}

#contenedor {
  opacity: 1;
  width: 80%;
  padding-left: 150px;
}/*# sourceMappingURL=pantallaTusPilotosClaro.css.map */