$color_1: #FFFFFF;
$color_2: #bd1c1c;
$color_3: #ffffff;
$color_4: #242424;
$color_5: white;
$color_6: rgb(255, 255, 255);
$font-family_1: 'Formula1-Italic';
$font-family_2: 'Formula1-Bold';
$background-color_1: #868686;
$background-color_2: #ffffffa5;
$background-color_3: rgba(212, 43, 43, 0.863);
$background-color_4: #ffffff;
$background-color_5: #ef2626;

/*---------------- TIPOGRAFÍAS --------------------*/
@font-face {
	font-family: 'Formula1-Wide';
	src: url('fuente/Formula1-Wide.ttf') format('truetype');
}
@font-face {
	font-family: 'Formula1-Bold';
	src: url('fuente/Formula1-Bold-4.ttf') format('truetype');
}
@font-face {
	font-family: 'Formula1-Italic';
	src: url('fuente/Formula1-Italic.ttf') format('truetype');
}
@font-face {
	font-family: 'Formula1-Regular';
	src: url('fuente/Formula1-Regular-1.ttf') format('truetype');
}
@font-face {
	font-family: 'Formula1-Black';
	src: url('fuente/Formula1-Black.ttf') format('truetype');
}
/*---------------- CUERPO --------------------*/
/*---------------- CABECERA --------------------*/
/*---------------- CABECERA  y PIE (TITULO Y LOGOS) --------------------*/
/*---------------- PIE --------------------*/
/*---------------- PIE (REDES SOCIALES) --------------------*/
/*---------------- PIE (POLITICA DE PRIVACIDAD) --------------------*/
/*---------------- TEXTOS (COMPROBAR SI SON COMUNES)--------------------*/
/*---------------- BARRA DE NAVEGACIÓN (MENÚ) --------------------*/
/*---------------- MENSAJE ERROR  --------------------*/
/*---------------- BOTONES  --------------------*/
@keyframes glowing-button {
	0% {
		background-position: 0 0;
	}
	50% {
		background-position: 400% 0;
	}
	100% {
		background-position: 0 0;
	}
}
body {
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 0;
	padding: 0;
	background-color: $background-color_1;
	color: $color_1;
}
header {
	background-color: $background-color_2;
	color: $color_1;
	position: relative;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	box-sizing: border-box;
	margin: 0px;
}
img {
	margin-right: 50px;
	position: relative;
	top: 0px;
	left: 0;
}
#menu {
	img {
		margin-right: 10px;
	}
	flex: 0 200 200px;
	background-color: $background-color_3;
	overflow: hidden;
	text-align: center;
	font-family: $font-family_1;
	padding: 10px;
	border-radius: 0 0 3em 3em;
	border-bottom: 10px solid #ffffff;
	ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
	}
	li {
		display: block;
		margin-bottom: 10px;
		a {
			display: block;
			color: $color_5;
			text-align: center;
			padding: 14px 16px;
			text-decoration: none;
			transition: color 0.2s;
			letter-spacing: 3px;
			&:hover {
				color: $color_2;
				background-color: $background-color_4;
			}
		}
	}
	a {
		color: $color_5;
		text-decoration: none;
		display: block;
		padding: 5px;
		border-radius: 5px;
		transition: background-color 0.3s;
	}
}
.redes-sociales {
	img {
		margin-right: 10px;
		transition: all 0.1s ease-in-out;
		&:hover {
			transform: scale(1.7);
		}
	}
	margin: 20px 20px;
	a {
		margin: 10px 40px;
	}
}
footer {
	background-color: $background-color_2;
	color: $color_2;
	text-align: center;
	padding: 20px 0;
	margin: 0px;
	position: relative;
	font-family: $font-family_1;
	margin-top: 10%;
	width: 100%;
}
.footer-contenido {
	margin: 20px 20px;
}
.politica-privacidad {
	a {
		color: $color_2;
		text-decoration: none;
	}
}
.copyright {
	span {
		color: $color_2;
		text-decoration: none;
	}
}
h2 {
	padding-top: 20px;
	text-align: center;
	font-family: $font-family_2;
	font-size: 24px;
	letter-spacing: 2px;
	font-size: 24px;
	letter-spacing: 2px;
	color: $color_3;
}
h3 {
	padding-top: 20px;
	text-align: center;
	font-family: $font-family_2;
	font-size: 24px;
	letter-spacing: 2px;
	font-size: 24px;
	letter-spacing: 2px;
	color: $color_3;
}
h1 {
	color: $color_4;
}
#contenedor {
	opacity: 1;
	width: 80%;
}
#msg {
	text-align: center;
	font-family: $font-family_1;
}
button {
	color: $color_5;
	margin-right: 30px;
	cursor: pointer;
	border: #110e35;
	font-family: $font-family_1;
	border-radius: 20px;
	padding: 0 30px;
	&:hover {
		opacity: 0.8;
		background-color: $background-color_5;
		color: $color_5;
		text-decoration: none;
	}
}
#botonescss {
	display: flex;
	width: 50%;
	margin: auto;
	align-items: center;
	justify-content: center;
}
.button {
	border: none;
	outline: none;
	color: $color_6;
	background: #ff0000;
	cursor: pointer;
	position: relative;
	z-index: 0;
	border-radius: 10px;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
	&:before {
		content: "";
		background: linear-gradient( 45deg, #ff0000, #c20000, #7f0000, #480000, #c00000 );
		position: absolute;
		top: -2px;
		left: -2px;
		background-size: 400%;
		z-index: -1;
		filter: blur(5px);
		-webkit-filter: blur(5px);
		width: calc(100% + 4px);
		height: calc(100% + 4px);
		animation: glowing-button 20s linear infinite;
		transition: opacity 0.3s ease-in-out;
		border-radius: 10px;
	}
	&:after {
		z-index: -1;
		content: "";
		position: absolute;
		width: 100%;
		height: 100%;
		background: rgba(255, 90, 90, 0.794);
		left: 0;
		top: 0;
		border-radius: 10px;
	}
}
a {
	text-decoration: none;
	color: $color_5;
}
input[type="text"] {
	border: 3px solid #be0000b6;
	transition: .1s;
}
input[type="email"] {
	border: 3px solid #be0000b6;
	transition: .1s;
}
input[type="password"] {
	&:focus {
		border: 3px solid #be0000b6;
		transition: .1s;
	}
}
